$colors: (
  primary: #43fefb,
  secondery: #00a7a4,
);

body,
html {
  height: 100%;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: map-get($map: $colors, $key: primary);
  #background {
    clip-path: polygon(100% 0, 100% 30%, 30% 100%, 0 100%, 0 0);
    // background-color: map-get($colors, primary);
    background-color: map-get($map: $colors, $key: secondery);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}
