$colors: (
  primary: #43fefb,
  secondery: #00a7a4,
  pure-white: #ffffff,
);

$padding: 15px;
$borders: 5px;

$desktop: 800px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

body,
html {
  height: 100%;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: map-get($map: $colors, $key: primary);
  @include desktop {
    background-color: #343434;
  }

  #background {
    clip-path: polygon(100% 0, 100% 30%, 30% 100%, 0 100%, 0 0);
    // background-color: map-get($colors, primary);
    background-color: color(secondery);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    @include desktop {
      background: #95483f;
      background-image: linear-gradient(
        90deg,
        #000004,
        #160b39,
        #420a68,
        #6a176e,
        #932667,
        #ba3655,
        #dd513a,
        #f3761b,
        #fca50a,
        #f6d746,
        #f6d746
      );
      clip-path: ellipse(50% 100% at 30% 50%);
    }
  }

  header a {
    color: color(pure-white);
    text-decoration: none;
    padding: $padding;
    display: block;
    text-transform: uppercase;
  }
}

main {
  @include desktop {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "card primary";
  }
  section#card {
    @include desktop {
      grid-area: card;
      height: fit-content;
      align-self: center;
      margin: 1em;
    }
    background-color: #ffffff;
    padding: $padding;
    margin: 1em auto;
    border-radius: $borders;
    box-shadow: 0 0 20px rgba($color: rgb(0, 0, 0), $alpha: 0.2);
    width: 80%;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      span {
        color: #e62d2d;
      }
      strong {
        display: inline-block;
      }
    }
  }
  section#primary {
    @include desktop {
      grid-area: primary;
      text-align: left;
      margin: 4em 0 0 4em;
    }
    color: white;
    padding: $padding;
    text-align: center;
    h1 {
      @include desktop {
        width: 30%;
        font-size: 4em;
        line-height: 0.9em;
      }
      font-size: 3em;
      margin-top: 10px;
      text-transform: uppercase;
    }
    p {
      font-size: 1.5em;
    }
    a {
      color: color(primary);
      text-transform: uppercase;
      background-color: #464646;
      border-radius: $borders;
      text-decoration: none;
      padding: $padding;
      font-weight: bold;
      text-align: center;

      @include desktop {
        display: inline-block;
        padding: $padding $padding * 4;
      }
    }
  }
}
